$font-primary: 'Noto Sans', sans-serif;
$color-background: rgb(255, 255, 255);
$color-text: black;
$color-border: #ccc;
$color-button-background: rgba(63, 81, 181, 1);
$color-button-text: white;
$spacing-standard: 20px;
$border-standard: 1px solid $color-border;

* {
  font-family: $font-primary;
  background-color: $color-background;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
}

header {
  display: block;
  padding: $spacing-standard;
  border: $border-standard;
  margin: 10px;

  >h1 {
    color: $color-text;
    text-align: center;
    margin: 10px auto;
    max-width: 360px;
  }
}

main {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 500px;
  padding: $spacing-standard;
  border: $border-standard;
  margin: 10px;

  #game-canvas {
    margin: 30px auto;
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 500px;
  }

  #next-game {
    font-size: 28px;
    width: 200px;
    height: 50px;
    border-style: none;
    border-radius: 2px;
    background-color: $color-button-background;
    color: $color-button-text;
  }

  #message {
    color: $color-text;
    font-size: 18px;
  }
}